
@model IEnumerable<UtileDigitalSecurity.ViewModels.AppDetails>

<head>
    <script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
    </script>
</head>

<link href="~/css/style.css" rel="stylesheet" type="text/css" />
<script src="~/scripts/toaster.js" type="text/javascript"></script>
<link href="~/scripts/toaster.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/scripts/toasterMessages.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/scripts/jquery.bootgrid.js"></script>
<link href="~/scripts/jquery.bootgrid.css" rel="stylesheet"/>
@*<link href="@Url.Content("~/scripts/jquery.bootgrid.css")" rel="stylesheet" />*@
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
@*<script src="@Url.Content("~/scripts/jquery.bootgrid.js")" type="text/javascript"></script>*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<div id="showDetails">
    @*@if (TempData.Peek("UserRole") as string == "Admin")
        {*@
    <div class="container-fluid btn-cls">
        <button class="btn btn-lg btn-primary add-new" onclick="addNewToken()">
            <i class="fa fa-plus-circle"></i>
            Generate Token
        </button>
    </div>
    @*}*@
    <table id="AppData" class="table table-condensed table-hover table-striped" data-toggle="bootgrid">
        <thead data-wrap="true" id="header-cls">
            <tr id="border-cls">
                <th data-column-id="AppId" class="col-th">#</th>
                <th data-column-id="AppName" class="col-th" data-formatter="command2">App Name</th>
                <th data-column-id="UserName" class="col-th">User Name</th>
                <th data-column-id="TokenId" class="col-th">Token ID</th>
                <th data-column-id="IsDisabled" data-formatter="command1">Enable/Disable</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var Details in Model)
            {
                <tr>
                    <td class="text-center InfoDetais" data-th="App Id">@Details.Id</td>
                    <td class="text-center InfoDetais app-name-cls" data-th="App Name">@Details.AppName</td>
                    <td class="text-center InfoDetais" data-th="User Name">@Details.UserName</td>
                    <td class="text-center InfoDetais" data-th="Token Id">#@Details.TokenId</td>
                    <td id="toggle" data-th="IsDisabled">@Details.IsDisabled</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="addNewToken"></div>
<div id="updateTokenModel"></div>
<div id="AppHistoryDetails"></div>
<div id="AppNameHistory"></div>

<div class="modal fade" id="UpdateConfirmation" role="dialog" data-backdrop="static">
    <div class="modal-dialog confirm-model">
        <div class="modal-content confirm-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="~/images/close-icon.svg" /></button>
                <h5 class="modal-title-header">Enable/Disable Confirmation</h5>
            </div>
            <div class="modal-body model-data">
                <h5>Are you sure you want to Enable or Disable ?</h5>
            </div>
            <div class="modal-footer footer-section">
                <button type="button" id="close-model" class="btn btn-default footer-button" data-dismiss="modal" onclick="cancelDisable()">Cancel</button>
                <input type="button" value="Update" onclick="IsDisable()" class="btn btn-default footer-savebtn" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

  var grid = $("#AppData").bootgrid({
    templates: {
      //footer: "<div id=\"{{ctx.id}}\" class=\"{{css.footer}}\"><div class=\"row\"><div class=\"col-sm-4\"><p class=\"{{css.pagination}}\"></p></div><div class=\"col-sm-3\" style=\"float:left;\"><p class=\"{{css.actions}}\"></p></div></div></div></div></div>",
      header: "<div id=\"{{ctx.id}}\" class=\"{{css.header}}\"><div class=\"row\"><div class=\"col-sm-12 actionBar\"><p class=\"{{css.search}}\"></p></div></div></div>",
      footer: "<div id=\"{{ctx.id}}\" class=\"{{css.footer}}\"><div class=\"row\"><div class=\"col-sm-4\"><p class=\"{{css.pagination}}\"></p></div>"
    },
    columnSelection: true,
    formatters: {
      "command1": function (column, row) {
        var toggleCls;
        if (column && column.id == "IsDisabled") {
          if (row.IsDisabled == 'True') {
            toggleCls = "fa fa-toggle-on tog-cls";
          }
          else {
            toggleCls = "fa fa-toggle-off tog-cls";
          }
        }
        return "<a  data-row-id='" + row.AppId + "' data-toggle='modal' data-target='#myModal' id='toggleId'  class='" + toggleCls + "' value='" + row.IsDisabled + "'></a>";
      },
      "command2": function (column, row) {
        return "<a href=" + "javascript:appLogHistory(" + "'" + row.AppId + "'" + ") >" + row.AppName + "</a>";
      }
    },
    caseSensitive: false,


  }).on("loaded.rs.jquery.bootgrid", function (row) {
    /* Executes after data is loaded and rendered */
    grid.find(".tog-cls").on("click", function (e) {
      window.rowId = $(this).data('row-id');
      if (e && e.target) {
        window.currentValue = $(e.target).attr('class');
        window.targetValue = e.target;
        var el = $(e.target).attr('class');
        if (e.target.classname == 'fa fa-toggle-off tog-cls') {
          $('#UpdateConfirmation').modal('show');
          IsEnableOrDisable(rowId);
        } else {
          $('#UpdateConfirmation').modal('show');
          IsEnableOrDisable(rowId);
        }
      }
    })
  });

 // $('.actions .btn-group')[1].remove();
  $('.pagination').parent().addClass('paginationDiv');
  $('.bootgrid-header').css('float', 'left');
  $('.bootgrid-header').css({ 'margin': '6px 0' });
  $('.actions .btn-group').css('display', 'block');
  $('.infos').css('display', 'block');

  $("#successMessage").show().delay(2000).fadeOut();
  $("#failureMessage").show().delay(2000).fadeOut();
  $("#updateMessage").show().delay(2000).fadeOut();


  function addNewToken() {
    $.ajax({
      type: 'Get',
      url: "/Home/GenerateNewToken"
    }).success(function (result) {
      $('#addNewToken').html(result);
      $('#genToken').modal('show');
    });
  }

  function IsEnableOrDisable(id) {
    $('#updateconfirmation').val(id);
    //$('#updateconfirmation').modal('show');
  }

  function updateTokenConfirmation(id) {
    $('#UpdateConfirmation').val(id);
    $('#UpdateConfirmation').modal('show');
  }

    function IsDisable(id) {
    var id = $('#UpdateConfirmation').val();
    $.ajax({
      type: 'get',
      url: "/Home/IsEnableOrDisable?appId=" + rowId
    }).success(function (result) {
       Command: toastr["success"]("Please enter valid credentials")
       successToast();
      var currrentClass = $('#toggleId').attr('value');
      if (currentValue == 'fa fa-toggle-on tog-cls') {
        $(window.targetValue).removeClass('fa fa-toggle-on tog-cls');
        $(window.targetValue).addClass('fa fa-toggle-off tog-cls');
      } else {
        $(window.targetValue).removeClass('fa fa-toggle-off tog-cls');
        $(window.targetValue).addClass('fa fa-toggle-on tog-cls');
      }
      $('#UpdateConfirmation').modal().hide();
    });
  }

  function cancelDisable() {
    return;
  }

    function updateToken(id) {
    $.ajax({
      type: 'get',
      url: "/Home/updatetoken?appid=" + id
    }).success(function (result) {
      $('#UpdateConfirmation').modal('hide');
      $('#updateTokenModel').html(result);
      $('#updateTokenForm').modal('show');
    });
  Command: toastr["success"]("Token Updated Successfully !");
  successToast();
  }

  function appLogHistory(AppId) {
    $.ajax({
      type: 'get',
      url: "/AppHistory/AppLogHistory?AppId=" + AppId
    }).success(function (result) {
      $('#AppHistoryDetails').html(result);
      $('#showDetails').hide();
    });
  }

  function showAllAppHistory() {
    $.ajax({
      type: 'get',
      url: "/Home/AllAppHistory"
    }).success(function (result) {
      $('#AppHistoryDetails').html(result);
      $('#AppHistory').show();
      $('#updateTokenModel').css({ 'display': 'none' })
      $('#showDetails').hide();
      $('#accessHistoryBtn').hide();
    });

  }
  $(function () {
    var tokenSuccess = "@(TempData["CreateCompleteMessage"] as string)";
    var failureToken = "@(TempData["tokenExits"] as string)";

    if (tokenSuccess !== "") {
       Command: toastr["success"]("Generated Token Successfully !")
       successToast();
        }
       if (failureToken !== "") {
           Command: toastr["error"]("Token Exits alredy!")
           successToast();
        }

    })

</script>





